name: Check build on PR
on:
  pull_request:
    branches:
      - "**"
    paths:
      - "web_app/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web_app

    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Load env
        run: cp .env.example .env

      - name: Install dependencies
        run: bun install

      - name: Prisma generate
        run: bun run db:generate

      - name: Build
        run: bun run build
