name: Check build on PR
on:
  pull_request:
    branches:
      - "**"
    paths:
      - "web_app/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web_app

    steps:
      - uses: actions/checkout@v4

      - name: Setup Pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Load env
        run: cp .env.example .env

      - name: Install dependencies
        run: pnpm install

      - name: Prisma generate
        run: pnpm run db:generate

      - name: Build
        run: pnpm run build
